
<h1>Nuevo  Articulo</h1>
<!--Para crear un formulario dentro de esta plantilla, usará un generador de formularios.
 generador de formularios primario para Rails se proporciona mediante un método auxiliar llamado form_with.
-->
<%= render 'form' %>

<%= link_to 'REgresar', articulos_path %>
